{% extends 'base.html.twig' %}

{% set active = 0 %}

{% trans_default_domain 'app' %}

{% block title %}About - {% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
    <p>This website provides tools and information about the browser online game <a href="https://www.travian.com">Travian</a></p>
    <p>Most of data are collected on files provided by <a href="http://www.traviangames.com">Travian Games GmbH</a></p>
    <p>
        The rights of the images that come from the game Travian and its platform belong to Travian Games GmbH.<br>
        Whereas the rights of pictures created for this site belong to me.
    </p>
    <p>All improvements, suggestions about <a href="https://trav.tools">trav.tools</a>, can be sent to <a href="mailto:contact@trav.tools">contact@trav.tools</a>. But I keep the right to apply them or not.</p>
    <p>For translations, you can help here.</p>
    <p>If you like this website and want to help me to maintain, <a href="https://paypal.me/pools/c/80hc88pdyv">you can make a donation here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            background-color: #868E96;
            border-color: #868E96;
        }

        .datepicker-here, #submit {
            cursor: pointer;
        }

        .table tr th {
            text-align: right;
        }
    </style>
{% endblock %}
