{% extends 'base.html.twig' %}

{% trans_default_domain 'base' %}

{% block title %}Home - {% endblock %}

{% block body %}
    <body>
        <div class="bg-dark text-light">
            <div class="container">
                <div class="col-md-12 text-center">
                    <a href="{{ path('app_index') }}"><img class="mx-auto py-3" src="{{ asset('img/travtools.svg') }}" style="height:50vh;"></a>
                </div>
                <div class="col-md-12 text-center">
                    <ul class="nav mx-auto" style="width: 270px;">
                        <li class="nav-item ml-auto">
                            <a class="nav-link text-light" href="{{ path('server_list') }}">{{ 'nav.servers'|trans }}</a>
                        </li>
                        <li class="nav-item mr-auto">
                            <a class="nav-link text-light" href="{{ path('tool_event') }}">{{ 'nav.eventcalculator'|trans }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <main role="main" class="container">
            <hr class="mt-5">
            <footer class="container my-4">
                {#<p class="float-right"><a href="#">Back to top</a></p>#}
                <p>&copy; {{ 'now'|date('Y') }} | <a href="{{ path('app_about') }}">{{ 'nav.about'|trans }}</a> &#8259; <a href="https://paypal.me/pools/c/80hc88pdyv" title="{{ 'nav.makedonation'|trans }}" target="blank">{{ 'nav.donation'|trans }}</a></p>
            </footer>
        </main>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

        {% block javascripts %}{% endblock %}

    </body>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            background-color: #868E96;
            border-color: #868E96;
        }

        .datepicker-here, #submit {
            cursor: pointer;
        }

        body {
            padding: 0;
        }

        .table tr th {
            text-align: right;
        }
    </style>
{% endblock %}
