{% extends 'base.html.twig' %}

{% set active = 1 %}

{% trans_default_domain 'app' %}

{% block title %}{{ 'heading.activeServers'|trans }} - {% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-11">
        {% for lo in locale %}
            <span>{{ lo }}</span>
        {% endfor %}
        {% for dom in domain %}
            <span>{{ dom }}</span>
        {% endfor %}
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'table.keyword'|trans }}</th>
                        <th>{{ 'table.message'|trans }}</th>
                        <th>{{ 'table.domain'|trans }}</th>
                        <th>{{ 'table.locale'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for translation in translations %}
                        <tr>
                            <td>{{ translation.keyword }}</td>
                            <td>{{ translation.message }}</td>
                            <td>{{ translation.domain }}</td>
                            <td>{{ translation.locale }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}
