{% extends 'base.html.twig' %}

{% set active = 2 %}

{% trans_default_domain 'app' %}

{% block title %}EventCalculator - {% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2>{{ 'heading.eventCalculator'|trans }}<br/><small class="text-muted">EventCalculator</small></h2>
                    </div>
                    <div class="form-group">
                        <label for="speedType">{{ 'event.serverSpeed'|trans }} : </label>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="speedType" class="form-check-input" type="radio" name="speedType" value="normal" checked>
                                Normal
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="speedType" class="form-check-input" type="radio" name="speedType" value="speedx3">
                                Speed x3
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <label>Number of days since the beginning of the server<strong>or the exact date</strong></label>
                            </div>
                            <div class="col">
                                <input id="nbrDays" class="form-control" type="number" name="nbrDays" placeholder="Number of days" style="line-height: normal;" />
                            </div>
                            <div class="col-1 text-center">
                                or
                            </div>
                            <div class="col">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input class="datepicker-here form-control" type="text" name="serverStart" data-language="fr" placeholder="Server start date"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="submit" class="btn btn-primary" type="button">{{ 'button.submit'|trans }}</button>
                </div>
                <div class="col-12">
                    <hr class="my-4">
                    <h4>Dates of events</h4>
                    <div id="noresult" class="py-4 text-center text-secondary">Fill in the form</div>
                    <div id="result">
                        <p class="alert alert-info">
                            Day : <span id="nbrOfDays"></span> | Week : <span id="nbrOfWeeks"></span>
                        </p>
                        <table class="table">
                            <tr>
                                <th class="col-6">Server start : </th>
                                <td id="dateBeginnig" class="col-6"></td>
                            </tr>
                            <tr>
                                <th>Equipment hero Level 2 : </th>
                                <td id="dateHeroLvl2"></td>
                            </tr>
                            <tr>
                                <th>Arrival of Artifacts : </th>
                                <td id="dateArtefact"></td>
                            </tr>
                            <tr>
                                <th>Equipment hero Level 3 : </th>
                                <td id="dateHeroLvl3"></td>
                            </tr>
                            <tr>
                                <th>Arrival of construction plans : </th>
                                <td id="datePlans"></td>
                            </tr>
                            <tr>
                                <th>Start of Natar construction of the wonder : </th>
                                <td id="dateWW"></td>
                            </tr>
                            <tr>
                                <th>(Potential) end of the server : </th>
                                <td id="dateEnd"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.fr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.min.js"></script>
    <script type="text/javascript">
        $('.datepicker-here').datepicker({
            todayButton: new Date(),
            clearButton: true
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#result').hide();

            $('#submit').on('click', function() {
                var normalDaysTab  = [0, 75, 100, 165, 200, 250, 350];
                var speedx3DaysTab = [0, 25, 34,  55,  67,  84,  118];

                var serverBeginning = null;

                var nbrDays = $('input[name=nbrDays]').val();
                var serverStart = $('input[name=serverStart]').val();

                if (nbrDays != '') {
                    nbrDays = parseInt(nbrDays);
                    serverBeginning = moment().subtract(nbrDays, 'days');
                }
                else if (serverStart != '') {
                    serverBeginning = moment(serverStart, 'DD/MM/YYYY');
                }
                else {
                    $('#noresult').show();
                    $('#result').hide();
                }

                if (serverBeginning != null) {
                    var dateTab = [{
                        key: 'dateBeginnig',
                        value: moment(serverBeginning)
                    }, {
                        key: 'dateHeroLvl2',
                        value: moment(serverBeginning)
                    }, {
                        key: 'dateArtefact',
                        value: moment(serverBeginning)
                    }, {
                        key: 'dateHeroLvl3',
                        value: moment(serverBeginning)
                    }, {
                        key: 'datePlans',
                        value: moment(serverBeginning)
                    }, {
                        key: 'dateWW',
                        value: moment(serverBeginning)
                    }, {
                        key: 'dateEnd',
                        value: moment(serverBeginning)
                    }];

                    var nbrDaysTab = [];
                    var speedType = $('input[name=speedType]:checked').val();
                    if (speedType == 'normal') {
                        nbrDaysTab = normalDaysTab;
                    } else if (speedType == 'speedx3') {
                        nbrDaysTab = speedx3DaysTab;
                    }
                    dateTab.forEach(function(element, index) {
                        element.value.add('days', nbrDaysTab[index]);
                        $('#' + element.key).text(element.value.format(' DD/MM/YYYY'));
                    });
                    $('#nbrOfWeeks').text(moment().diff(serverBeginning, 'week') + 1);
                    $('#nbrOfDays').text(moment().diff(serverBeginning, 'day'));

                    $('#result').show();
                    $('#noresult').hide();
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css">

    <style type="text/css">
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            background-color: #868E96;
            border-color: #868E96;
        }

        .datepicker-here, #submit {
            cursor: pointer;
        }

        .table tr th {
            text-align: right;
        }

        #result {
            display: none;
        }
    </style>
{% endblock %}
