{% extends 'base.html.twig' %}

{% set active = 1 %}

{% trans_default_domain 'app' %}

{% block title %}{{ 'heading.activeServers'|trans }} - {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">

    <style type="text/css">
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            background-color: #868E96;
            border-color: #868E96;
        }
        .flag-img {
            height: 1em;
            vertical-align: middle;
        }
        .flag-button {
            cursor: pointer;
        }
        #app_timezone_name {
            width: 85%;
        }
        #app_timezone_submit {
            float: right;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-11">
            <div class="text-center">
                <h2>{{ 'heading.activeServers'|trans }}<br><small class="text-muted">{{ servers|length }} {{ 'heading.servers'|trans }}</small></h2>
                <h6><small>Refresh : {{ servers[0].refreshAt|date('d.m.Y H:i') }}</small></h6>
            </div>
            <div class="col-12 mt-4">
                {{ form_start(form) }}
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_widget(form.submit) }}
                {{ form_end(form) }}
            </div>
            <div class="col-12 my-4">
                <ul class="list-unstyled list-inline">
                {% for country in countries %}
                    <li class="list-inline-item">
                        <img class="flag-img flag-button" src="{{ asset('img/tg-flags/' ~ country.code|default('') ~ '.svg') }}" title="{{ country.code|default('')|upper }} - {{ country.name }}" alt="{{ country.code }}">
                    </li>
                {% endfor %}
                    <li class="list-inline-item">
                        <i class="fa fa-close flag-button flag-search-cancel"></i>
                    </li>
                </ul>
            </div>
            <table id="servers" class="stripe display">
                <thead>
                    <tr>
                        <th>{{ 'table.domain'|trans }}</th>
                        <th>{{ 'table.name'|trans }}</th>
                        <th>{{ 'table.country'|trans }}</th>
                        <th>{{ 'table.speed'|trans }}</th>
                        <th>{{ 'table.beginAt'|trans }} ({{ timezone.name }})</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for server in servers %}
                        <tr>
                            <td><a href="http://{{ server.domain }}">{{ server.domain }}</a></td>
                            <td>{{ server.title }}</td>
                            <td data-order="{{ server.country.code|default('') }}" data-search="{{ server.country.code|default('') }}">
                                <img class="flag-img" src="{{ asset('img/tg-flags/' ~ server.country.code|default('') ~ '.svg') }}" title="{{ server.country.name }}">
                                <small>({{ server.country.code|default('')|upper }})</small>
                            </td>
                            <td>{{ server.speed }}</td>
                            <td class="serverStart" data-order="{{ server.beginAt }}"><span class="dateStart">{{ server.beginAt|date('d.m.Y H:i', 'America/New_York') }}</span> <strong class="diffStart"></strong></td>
                            <td><a class="btn btn-outline-info btn-sm" href="{{ path('server_show', { 'slug': server.slug }) }}"><i class="fa fa-info"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sprintf/1.1.1/sprintf.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('table#servers').DataTable({
                responsive: {
                    details: false
                },
                columns: [
                    { responsivePriority: 1 },
                    { responsivePriority: 4 },
                    { responsivePriority: 3 },
                    { responsivePriority: 5 },
                    { responsivePriority: 2 },
                    { responsivePriority: 1 },
                ],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.16/i18n/English.json'
                },
                columnDefs: [
                    {
                        targets: 5,
                        orderable: false
                    },
                    {
                        targets: 4,
                        orderSequence: [ 'desc', 'asc' ]
                    }
                ],
                autoWidth: false,
                order: [[ 4, 'desc' ]],
                lengthMenu: [
                    [ 50, 100, 150, -1 ],
                    [ 50, 100, 150, 'All' ]
                ],
            });
            var diffDay = null;
            $('.dateStart').each(function() {
                diffDay = Math.floor(moment().diff(moment(this.textContent, 'DD/MM/YYYY'), 'day', true));
                var textStartDay = null;
                if (diffDay == 0) {
                    textStartDay = sprintf('<span class="badge badge-danger text-light">{{ "today"|trans }}</span>');
                }
                else if (diffDay > 0) {
                    textStartDay = sprintf('<span class="badge badge-info">{{ "since"|trans({"%day%": "%f"}) }}</span>', diffDay);
                }
                else if (diffDay < 0) {
                    textStartDay = sprintf('<span class="badge badge-success">{{ "in"|trans({"%day%": "%f"}) }}</span>', Math.abs(diffDay));
                }

                $(this).next('.diffStart').html(textStartDay);
            });
            $('ul').on('click', 'img', function () {
                table
                    .columns(2)
                    .search($(this).attr('alt'))
                    .draw();
            });
            $('.flag-search-cancel').on('click', function () {
                table.columns().search('').draw();
            });

        });
    </script>
{% endblock %}
