{% extends 'base.html.twig' %}

{% set active = 1 %}

{% trans_default_domain 'app' %}

{% block title %}{{ server.domain }} - {{ 'heading.server'|trans }} - {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <style type="text/css">
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            background-color: #868E96;
            border-color: #868E96;
        }
        .flag-img {
            height: 1em;
            vertical-align: middle;
        }
        p {
            margin-bottom: 0.5rem;
        }
        .table tr th {
            text-align: right;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header text-center">
                            <h2 class="my-2">{{ server.title }}</h2>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <td class="text-center" colspan="2"><a href="http://{{ server.domain }}">{{ server.domain }}</a></td>
                                </tr>
                                <tr>
                                    <th class="col-md-6">{{ 'table.name'|trans }} : </th>
                                    <td class="col-md-6">{{ server.shortName }}</td>
                                </tr>
                                <tr>
                                    <th>
                                        {{ 'table.beginAt'|trans }} ({{ server.country.timezone|default('UTC') }}) :<br>
                                        {% if server.country.timezone %}
                                            <small class="text-muted text-right">(UTC) : </small>
                                        {% endif %}
                                    </th>
                                    <td>
                                        {{ server.beginAt|date('d/m/Y H:i', server.country.timezone|default('UTC')) }}<br>
                                        {% if server.country.timezone %}
                                            <small class="text-muted">{{ server.beginAt|date('d/m/Y H:i', 'UTC') }}</small>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table.country'|trans }} : </th>
                                    <td>
                                        <small>({{ server.country.code|upper }})</small>
                                        <img class="flag-img" src="{{ asset('img/tg-flags/' ~ server.country.code ~ '.svg') }}" title="{{ server.country.name|default('') }}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table.version'|trans }} : </th>
                                    <td>{{ server.version }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table.speed'|trans }} : </th>
                                    <td>{{ server.speed }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table.options'|trans }} : </th>
                                    <td><small>
                                        <p><strong>{{ 'option.vacationMode'|trans }} :</strong> {{ server.options.vacationMode ? 'yes'|trans : 'no'|trans }}</p>
                                        <p><strong>{{ 'option.territory'|trans }} :</strong> {{ server.options.territory ? 'yes'|trans : 'no'|trans }}</p>
                                        <p><strong>{{ 'option.heroitems'|trans }} :</strong> {{ server.options.heroitems ? 'yes'|trans : 'no'|trans }}</p>
                                        <p><strong>{{ 'option.allianceBonus'|trans }} :</strong> {{ server.options.allianceBonus ? 'yes'|trans : 'no'|trans }}</p>
                                        <p><strong>{{ 'option.boostedStart'|trans }} :</strong> {{ server.options.boostedStart ? 'yes'|trans : 'no'|trans }}</p>
                                        <p><strong>{{ 'option.pushingProtectionAlways'|trans }} :</strong> {{ server.options.pushingProtectionAlways ? 'yes'|trans : 'no'|trans }}</p>
                                        <p><strong>{{ 'option.tribesEgyptiansAndHuns'|trans }} :</strong> {{ server.options.tribesEgyptiansAndHuns ? 'yes'|trans : 'no'|trans }}</p>
                                        <p><strong>{{ 'option.hideFoolsArtifacts'|trans }} :</strong> {{ server.options.hideFoolsArtifacts ? 'yes'|trans : 'no'|trans }}<p>
                                        <p><strong>{{ 'option.welcomeScreen'|trans }} :</strong> {{ server.options.welcomeScreen ? 'yes'|trans : 'no'|trans }}</p>
                                    </small></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}
