{% trans_default_domain 'base' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Home - {% endblock %}trav.tools</title>

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <style type="text/css">
            .navbar { padding: 3px 0; }
            .navbar-brand { padding: 3px 25px; margin: 0; }
            .navbar-brand img { height: 40px; vertical-align: top; }
            body {
                min-height: 30rem;
                padding-top: 4.5rem;
            }
            @font-face {
                font-family: 'Avenir-Heavy';
                src: url('{{ asset('fonts/avenir/Avenir-Heavy.woff') }}') format('woff'),
                    url('{{ asset('fonts/avenir/Avenir-Heavy.ttf') }}') format('truetype');
            }
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />

        {% block stylesheets %}{% endblock %}

        <!-- Matomo -->
        <script type="text/javascript">
            var _paq = _paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://matomo.trav.tools/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '2']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->

    </head>
    {% block body %}
    <body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_index') }}"><img src="{{ asset('img/travtools.svg') }}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {{ active == 1 ? 'active' }}">
                            <a class="nav-link" href="{{ path('server_list') }}">{{ 'nav.servers'|trans }} <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {{ active == 2 ? 'active' }}">
                            <a class="nav-link" href="{{ path('tool_event') }}">{{ 'nav.eventcalculator'|trans }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main role="main" class="container">
            {% block content %}{% endblock %}
            <hr class="mt-5">
            <footer class="container my-4">
                {#<p class="float-right"><a href="#">Back to top</a></p>#}
                <p>&copy; {{ 'now'|date('Y') }} | <a href="{{ path('app_about') }}">{{ 'nav.about'|trans }}</a> &#8259; <a href="https://paypal.me/pools/c/80hc88pdyv" title="{{ 'nav.makedonation'|trans }}" target="blank">{{ 'nav.donation'|trans }}</a></p>
            </footer>
        </main>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

        {% block javascripts %}{% endblock %}

    </body>
    {% endblock %}

</html>
