{% extends 'base.html.twig' %}

{% block title %} | {{ status_code }}{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        body {
            background-color: #343a40;
        }
        .error-wrapper {
            display: flex;
            flex-direction: column;
            color: #EAEAEA;
        }
        .error-wrapper div {
            margin: auto;
            text-align: center;
        }
        .error-wrapper div img {
            height: 40vh;
        }
        .error-wrapper p.title {
            font-size: 2em;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="error-wrapper">
        <div>
            <a href="{{ path('app_index') }}">
                <img src="{{ asset('img/travtools.svg') }}" alt="error404">
            </a>
            <p class="lead title">
                The page you requested was not found.
            </p>
            <br>
            <p>
                <a href="{{ path('app_index') }}">
                    <i class="fa fa-home"></i> Reach the home page
                </a>
            </p>
        </div>
    </div>
{% endblock %}
