{% extends 'base.html.twig' %}

{% block title %} | {{ status_code }}{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        body {
            background-color: #343a40;
        }
        .error-wrapper {
            display: flex;
            flex-direction: column;
            color: #EAEAEA;
        }
        .error-wrapper div {
            margin: auto;
            text-align: center;
        }
        .error-wrapper div img {
            height: 40vh;
        }
        .error-wrapper p.title {
            font-size: 2em;
        }
        .error-wrapper p.statusCode,
        .error-wrapper p.message {
            font-size: 0.9em;
            color: #000;
            max-width: 90vh;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="error-wrapper">
        <div>
            <a href="{{ path('app_index') }}">
                <img src="{{ asset('img/travtools.svg') }}" alt="error">
            </a>
            <p class="lead title">
                An error occurred.
            </p>
            <p>
                <a class="details" role="button" data-toggle="collapse" href="#details">
                    <i class="fa fa-caret-right rotate"></i> Details
                </a>
                <div class="collapse" id="details">
                    <div class="well well-sm">
                        <p class="statusCode">Error {{ status_code }}</p>
                        <p class="message">{{ exception.message|nl2br|format_file_from_text }}</p>
                    </div>
                </div>
            </p>
            <br>
            <p>
                <a href="{{ path('app_index') }}">
                    <i class="fa fa-home"></i> Reach the home page
                </a>
            </p>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $('.details').on('click', function(){
            $(this).find('.rotate').toggleClass('fa-rotate-90');
        })
    </script>
{% endblock %}
